body {
  overflow-x: hidden;
}

.nav-links-container {
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.329);
  i {
    font-size: 2rem;
    color: $gray;
    top: 30px;
    right: 30px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
}
.nav-links-container.active {
  opacity: 1;
  pointer-events: all;
}
.nav-links {
  width: 40%;
  min-height: 100vh;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  z-index: 2;
  transform: translateX(100%);
  transition: all 300ms ease-in;
  li {
    margin-bottom: 1rem;
  }
}
.nav-links.active {
  transform: translateX(0%);
}
.main-head {
  display: block;
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    background-color: $primary;
    span {
      color: white;
      a {
        color: white;
      }
    }
  }
  .header-container {
    width: 80%;
    height: 11vh;
    margin: auto;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      a,
      i {
        height: 40%;
        display: flex;
        align-items: center;
        img {
          height: 100%;
        }
      }

      div {
        height: 100%;
        display: flex;
        width: 2rem;
        align-items: center;
      }
      .nail-logo {
        display: flex;
        justify-content: center;
        a {
          height: 60%;
        }
      }
      .shop-logo {
        display: flex;
        justify-content: center;
        a {
          height: 30%;
        }
      }
      .burger {
        display: flex;
        justify-content: center;
        cursor: pointer;
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

#hero {
  .hero-container {
    width: 100%;
    height: 55vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h3 {
      position: absolute;
      z-index: 0;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      color: white;
      font-size: 3rem;
      font-weight: 800;
    }
  }
}
.sub-section-container {
  min-height: 30vh;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  .sub-section {
    padding: 2.5rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
      height: 3rem;
      margin-right: 1.5rem;
    }
    p {
      font-size: 1rem;
      flex: 1;
    }
  }
  .bar {
    height: 20vh;
    width: 3px;
    background-color: $gray;
  }
}

#producto-estrella,
#instagram-posts {
  padding: 3rem 0rem;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .productos-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    .producto-card {
      flex: 1 1 10rem;
      margin: 1rem;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .producto-img {
        height: 200px;
        width: 200px;
        margin-bottom: 1rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  h2 {
    margin-bottom: 2rem;
    span {
      color: $secundary;
    }
  }
}
#instagram-posts {
  .productos-container {
    .producto-card {
      a {
        color: $secundary;
      }
    }
  }
}
#producto-estrella {
  .productos-container {
    .producto-card {
      a {
        color: $primary;
      }
    }
  }
}
#gradient-banner {
  background: linear-gradient(90.11deg, #d53444 24.54%, #f18f01 78.09%);
  display: flex;
  min-height: 30vh;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  a {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 50px;
    font-weight: 600;
    color: #d54c34;
  }
  svg {
    max-height: 50px;
  }
}

#subscription-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
  flex-direction: column;
  background: $light-gray;
  padding: 2rem;
  h3 {
    color: rgb(36, 36, 36);
    font-weight: 600;
    width: 80%;
  }
  a {
    margin-top: 2rem;
    background-color: $primary;
    color: white;
    padding: 0.8rem 3rem;
  }
}
#us {
  min-height: 50vh;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: auto;
    h2 {
      margin-bottom: 2rem;
    }
  }
}

footer {
  background: $gray;
  color: white;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  .sections-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    ul {
      flex: 1;
      margin: 2rem;
    }
  }
  li,
  h3,
  a {
    color: white;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
.footer-container {
  width: 80%;
  margin: auto;
  height: 100%;
  span {
    color: $light-gray;
  }
}
.disclaimer {
  text-align: center;
}

.desc-envios {
  min-height: 30vh;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $light-gray;
  div {
    text-align: center;
    width: 80%;
  }
  h3 {
    margin-top: 2rem;
  }
}
.medios-pago h3 {
  width: 75%;
  margin: auto;
  color: black;
  margin-top: 2rem;
  font-weight: 800;
}

#cards {
  .cards-container {
    min-height: 80vh;
    padding: 2rem 0rem;
    width: 70%;
    margin: auto;
    min-width: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 50vh;
      margin: 2rem;
      flex: 1;
      padding: 2rem;
      text-align: center;
      box-shadow: 0px 0px 36px -7px rgba(0, 0, 0, 0.28);
      border-radius: 39px;
      flex: 1 1 20rem;
      h3 {
        margin-bottom: 2rem;
      }
    }
  }
}
#buy {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .ilu-container {
    height: 80%;
    svg {
      width: 100%;
    }
  }
  div {
    flex: 1;
  }
  .text-container {
    margin-left: 3rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h3 {
      color: black;
      font-weight: 600;
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
    span {
      color: rgb(75, 75, 75);
      font-size: 1.5rem;
      font-weight: 600;
    }
    strike {
      color: rgb(168, 168, 168);
    }
    a {
      background-color: $primary;
      color: white;
      padding: 0.8rem 3rem;
      margin: 2rem 0rem;
    }
  }
}
