* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body,
button,
textarea {
  font-family: "Nunito", sans-serif;
}

a,
li {
  list-style-type: none;
  text-decoration: none;
  color: #636363;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #636363;
}

h2 {
  font-size: 2rem;
  color: black;
}

h3 {
  font-size: 1.5rem;
  color: #636363;
  font-weight: 400;
}

h4,
a,
li,
p {
  font-size: 1.2rem;
}

img,
svg,
i,
.hero-image {
  pointer-events: none;
}

body {
  overflow-x: hidden;
}

.nav-links-container {
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.329);
}

.nav-links-container i {
  font-size: 2rem;
  color: #636363;
  top: 30px;
  right: 30px;
}

.nav-links-container .cross {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.nav-links-container.active {
  opacity: 1;
  pointer-events: all;
}

.nav-links {
  width: 40%;
  min-height: 100vh;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main-head {
  display: block;
}

.main-head .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4vh;
  background-color: #d53444;
}

.main-head .banner span {
  color: white;
}

.main-head .banner span a {
  color: white;
}

.main-head .header-container {
  width: 80%;
  height: 11vh;
  margin: auto;
}

.main-head .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main-head .header-container nav a,
.main-head .header-container nav i {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head .header-container nav a img,
.main-head .header-container nav i img {
  height: 100%;
}

.main-head .header-container nav div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head .header-container nav .nail-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-head .header-container nav .nail-logo img {
  height: 60%;
}

.main-head .header-container nav .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main-head .header-container nav .burger i {
  font-size: 1.1rem;
}

#hero .hero-container {
  width: 100%;
  height: 55vh;
}

#hero .hero-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero .hero-container h3 {
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.sub-section-container {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.sub-section-container .sub-section {
  padding: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-section-container .sub-section img {
  height: 3rem;
  margin-right: 1.5rem;
}

.sub-section-container .sub-section p {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sub-section-container .bar {
  height: 20vh;
  width: 3px;
  background-color: #636363;
}

#producto-estrella,
#instagram-posts {
  padding: 3rem 0rem;
  min-height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#producto-estrella .productos-container,
#instagram-posts .productos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#producto-estrella .productos-container .producto-card,
#instagram-posts .productos-container .producto-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  margin: 1rem;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#producto-estrella .productos-container .producto-card .producto-img,
#instagram-posts .productos-container .producto-card .producto-img {
  height: 200px;
  width: 200px;
  margin-bottom: 1rem;
}

#producto-estrella .productos-container .producto-card .producto-img img,
#instagram-posts .productos-container .producto-card .producto-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#producto-estrella h2,
#instagram-posts h2 {
  margin-bottom: 2rem;
}

#producto-estrella h2 span,
#instagram-posts h2 span {
  color: #e65925;
}

#instagram-posts .productos-container .producto-card a {
  color: #e65925;
}

#producto-estrella .productos-container .producto-card a {
  color: #d53444;
}

#gradient-banner {
  background: linear-gradient(90.11deg, #d53444 24.54%, #f18f01 78.09%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

#gradient-banner h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

#gradient-banner h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

#gradient-banner a {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 50px;
  font-weight: 600;
  color: #d54c34;
}

#gradient-banner svg {
  max-height: 50px;
}

#subscription-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ededed;
  padding: 2rem;
}

#subscription-banner h3 {
  color: black;
  font-weight: 600;
}

#subscription-banner a {
  margin-top: 2rem;
  background-color: #d53444;
  color: white;
  padding: 0.8rem 3rem;
}

#us {
  min-height: 50vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#us .us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
}

#us .us-container h2 {
  margin-bottom: 2rem;
}

footer {
  background: #636363;
  color: white;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .sections-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50vh;
}

footer .sections-container ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem;
}

footer li,
footer h3 {
  color: white;
}

footer h3 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer-container {
  width: 80%;
  margin: auto;
  height: 100%;
}

.footer-container span {
  color: #ededed;
}

.disclaimer {
  text-align: center;
}

.desc-envios {
  min-height: 30vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ededed;
}

.desc-envios div {
  text-align: center;
  width: 80%;
}

.desc-envios h3 {
  margin-top: 2rem;
}

.medios-pago h3 {
  width: 75%;
  margin: auto;
  color: black;
  margin-top: 2rem;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .sub-section-container {
    width: 100%;
  }
  .bar {
    display: none;
  }
  footer .sections-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .sections-container li {
    color: #ededed;
  }
  footer .disclaimer {
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .nav-links {
    width: 100%;
  }
  .banner span,
  .banner a {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .sub-section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-section-container .sub-section {
    width: 100%;
  }
  #gradient-banner {
    min-height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gradient-banner svg {
    margin: 2rem;
  }
  #gradient-banner h2 {
    margin: 0rem 2rem;
    margin-bottom: 3rem;
  }
  #gradient-banner h3 {
    margin: 0rem 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */